{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/index_admin.css' %}">
    <script src="{% static 'js/script.js' %}" defer></script>
    <script src="https://kit.fontawesome.com/f6efce63ba.js" crossorigin="anonymous"></script>
    <title>{% block title %}Página{% endblock %}</title>
</head>
<body>
    <!-- Barra Superior -->
    <div class="topbar">
        <div class="topbar-content">
            <button onclick="toggleMenu()"><i class="fa-solid fa-bars"></i></button>
            <h4>Bienvenido al sistema de Encargado</h4>
            <div class="topbar-auth">
                <a href="/logout/">Cerrar Sesión</a>
            </div>
        </div>
    </div>

    <!-- Menu Lateral -->
    <div class="slicebar" id="sidebar">
        <h2 class="slicebar-title">Menú</h2>
        <ul class="menu">
            <li><a href="{% url 'ver_clientes_admin' %}">Clientes</a></li>
            <li><a href="{% url 'ver_reservas_admin' %}">Reservas</a></li>
            <li><a href="{% url 'ver_vehiculos_admin' %}">Vehículos</a></li>
        </ul>
    </div>

    <!-- Contenedor Principal -->
    <div class="main-container">
        {% block content %}
    <div class="table-container">
        <div class="table-title">Reservas</div><br>
        <table>
            <thead>
                <tr>
                    <th>Cliente</th>
                    <th>Vehículo</th>
                    <th>Fecha</th>
                    <th>Hora</th>
                    <th>Estado</th>
                </tr>
            </thead>
            <tbody>
                {% for reserva in reservas %}
                <tr>
                    <td>{{ reserva.cliente.nombre }}</td>
                    <td>{{ reserva.vehiculo.marca }} {{ reserva.vehiculo.modelo }}</td>
                    <td>{{ reserva.fecha_reserva|date:"Y-m-d" }}</td>
                    <td>{{ reserva.hora_reserva|time:"H:i" }}</td>
                    <td>{{ reserva.estado }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}

    </div>
</body>
</html>
