{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/index_admin.css' %}">
    <script src="{% static 'js/script.js' %}" defer></script>
    <script src="https://kit.fontawesome.com/f6efce63ba.js" crossorigin="anonymous"></script>
    <title>Menu de Encargado</title>
</head>
<body>
    <!-- top_bar -->
  <div class="topbar">
    <div class="topbar-content">
        <button onclick="toggleMenu()"><i class="fa-solid fa-bars"></i></button>
      <div class="topbar-auth">
          <!-- Opciones para usuario autenticado -->
          <a href="/logout/">Cerrar Sesión</a>
      </div>
    </div>
  </div>

    <!-- Menu lateral -->
    <div class="slicebar" id="sidebar">
        <h2 class="slicebar-title">Menú</h2>
        <ul class="menu">
            <li><a href="#">Clientes</a></li>
            <li><a href="#">Reservas</a></li>
            <li><a href="#">Vehículos</a></li>
        </ul>
    </div>

</body>
</html>
