{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar Sesión</title>
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>
<body>
    <div class="form-container">
        <h2>Iniciar Sesión</h2>
        <form method="post" action="{% url 'login' %}">
            {% csrf_token %}
            
            <div class="input-field">
                {{ form.username_or_email.label_tag }}
                <input type="email" name="email" required>
            </div>
            
            <div class="input-field">
                {{ form.password.label_tag }}
                {{ form.password }}
            </div>
            
            <button type="submit" class="submit-button">Iniciar Sesión</button>
        </form>

        {% if form.non_field_errors %}
            <div class="error-message">{{ form.non_field_errors }}</div>
        {% endif %}

        <a href="/register/" class="register-link">¿No tienes cuenta? Regístrate aquí</a>
    </div>
</body>
</html>
