{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/mvs.css' %}">
    <title>Misión - Advandetailing</title>
    
</head>
<body>
    <!-- top_bar -->
    <div class="topbar">
        <div class="topbar-content">
        <div class="topbar-links">
            <a href="/quienes-somos/">Quiénes Somos</a>
            <a href="/vision/">Visión</a>
            <a href="/mision/">Misión</a>
        </div>
        <div class="topbar-auth">
            <!-- Opciones para usuario autenticado -->
            <a href="{% url 'home' %}">Inicio</a>
            <a href="/resenas/">Reseñas</a>
            <a href="/reservas/">Mis Reservas</a>
            <a href="/ver_vehiculos/">Mis Vehículos</a>
            <a href="/logout/">Cerrar Sesión</a>
        </div>
        </div>
    </div>
    <header>
        <h1>Misión</h1>
    </header>
    <main>
        <p>Nuestra misión es brindar servicios especializados de autolavado y detallado de vehículos con un enfoque en calidad, confianza y satisfacción del cliente.</p>
        <p>Nos esforzamos por superar las expectativas de nuestros clientes a través de un servicio personalizado y atención al detalle.</p>
    </main>
    <footer>
        <a href="/">Volver al inicio</a>
    </footer>
</body>
</html>
