{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/mvs.css' %}">
    <title>Quiénes Somos - Advandetailing</title>
    
</head>
<body>
    <!-- top_bar -->
    <div class="topbar">
        <div class="topbar-content">
        <div class="topbar-links">
            <a href="/quienes-somos/">Quiénes Somos</a>
            <a href="/vision/">Visión</a>
            <a href="/mision/">Misión</a>
        </div>
        <div class="topbar-auth">
            <!-- Opciones para usuario autenticado -->
            <a href="{% url 'home' %}">Inicio</a>
            <a href="/resenas/">Reseñas</a>
            <a href="/reservas/">Mis Reservas</a>
            <a href="/ver_vehiculos/">Mis Vehículos</a>
            <a href="/logout/">Cerrar Sesión</a>
        </div>
        </div>
    </div>
    <header>
        <h1>Quiénes Somos</h1>
    </header>
    <main style="text-align: center;">
        <p>Somos una empresa de autolavado ubicada en Copiapó, Atacama, Chile.</p>
        <p>En Advandetailing, nos dedicamos a ofrecer servicios especializados para el cuidado de vehículos. Actualmente, somos un emprendimiento comprometido con la calidad y la satisfacción de nuestros clientes.</p>
        <img src="{% static 'images/AdvanDetailing_Logo.jpg' %}" alt="Logo de Advandetailing">
    </main>
    <footer>
        <a href="/">Volver al inicio</a>
    </footer>
</body>
</html>
