{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/mvs.css' %}">
    <title>Visión - AdvanDetailing</title>
    
</head>
<body>
    <!-- top_bar -->
    <div class="topbar">
        <div class="topbar-content">
        <div class="topbar-links">
            <a href="/quienes-somos/">Quiénes Somos</a>
            <a href="/vision/">Visión</a>
            <a href="/mision/">Misión</a>
        </div>
        <div class="topbar-auth">
            <!-- Opciones para usuario autenticado -->
            <a href="{% url 'home' %}">Inicio</a>
            <a href="/resenas/">Reseñas</a>
            <a href="/reservas/">Mis Reservas</a>
            <a href="/ver_vehiculos/">Mis Vehículos</a>
            <a href="/logout/">Cerrar Sesión</a>
        </div>
        </div>
    </div>
    <header>
        <h1>AdvanDetailing</h1>
        <p>Confiabilidad y Excelencia en el Cuidado de Vehículos</p>
    </header>
    <section>
        <h2>Nuestra Visión</h2>
        <p>
            En <strong>AdvanDetailing</strong>, nuestra visión es convertirnos en la empresa líder de confianza en el cuidado y mantenimiento especializado de vehículos. 
            Nos esforzamos por ofrecer servicios de lavado y detailing de la más alta calidad, utilizando productos innovadores y técnicas avanzadas para garantizar la satisfacción total de nuestros clientes.
        </p>
        <p>
            Queremos ser reconocidos por nuestro compromiso con la excelencia, el profesionalismo y el cuidado detallado de cada vehículo, construyendo relaciones duraderas con nuestros clientes y contribuyendo a la preservación del valor y la estética de sus autos.
        </p>
            
    </section>

    <footer>
        <a href="/">Volver al inicio</a><br>
        &copy; 2024 AdvanDetailing. Todos los derechos reservados.
    </footer>
</body>
</html>
