/* General */
body {
    background-color: #1a1a2e;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    background: #ffffff;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 20px;
    max-width: 800px;
    width: 90%;
}

h2 {
    text-align: center;
    color: #333333;
    margin-bottom: 20px;
}

h3 {
    margin-top: 20px;
    color: #555555;
}

.table-container {
    margin-top: 10px;
}

.table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

.table thead th {
    background-color: #1a1a2e;
    color: white;
    padding: 10px;
    text-align: left;
}

.table tbody td {
    border-bottom: 1px solid #dddddd;
    padding: 8px;
}

.table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

.table tbody tr:hover {
    background-color: #f1f1f1;
}

/* Botones */
.btn {
    display: inline-block;
    background-color: #5078FF;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
    font-size: 16px;
    margin-top: 20px;
    margin-left: 40%;
    transition: background-color 0.3s;
    justify-content: center;
}

.btn:hover {
    background-color: #357ab8;
}

/* Reservas */
.reservations-section {
    margin-bottom: 20px;
}

.no-reservations {
    color: #888888;
    text-align: center;
    margin-top: 10px;
}

/* Animación de entrada */
@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Aplicar animación a todos los elementos */
.animated {
    opacity: 0; /* Oculta los elementos antes de la animación */
    animation: fadeInUp 0.8s ease-in-out forwards;
}

/* Diferentes retrasos para un efecto escalonado */
.container {
    animation-delay: 0.2s;
}
.reservations-section {
    animation-delay: 0.4s;
}
.table-container {
    animation-delay: 0.6s;
}
.btn {
    animation-delay: 0.8s;
}
